spreadsheet_id = "PEGA_AQUI_EL_ID_DE_GOOGLE_SHEETS"

[gcp_service_account]
type = "service_account"
project_id = "TU_PROJECT_ID"
private_key_id = "TU_PRIVATE_KEY_ID"
private_key = """-----BEGIN PRIVATE KEY-----
TU_CLAVE_PRIVADA
-----END PRIVATE KEY-----
"""
client_email = "TU_CUENTA_DE_SERVICIO"
client_id = "TU_CLIENT_ID"
auth_uri = "https://accounts.google.com/o/oauth2/auth"
token_uri = "https://oauth2.googleapis.com/token"
auth_provider_x509_cert_url = "https://www.googleapis.com/oauth2/v1/certs"
client_x509_cert_url = "TU_CERT_URL"
